<extend name="web:Public:body"/>
<block name="title">
<title>发帖</title>
<script charset="utf-8" src="__PUBLIC__/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>
</block>
<block name="body">
<div class="content-wrap">
	<div class="content">
		<header class="archive-header">
		文明发帖
		</header>
	<form name="LoginForm" action="__URL__/add_do.html"enctype="multipart/form-data" method="post">
		<p>
			<label  class="label">标题:</label>
			<input name="title" type="text" class="input" placeholder="标题"  />
		<p/>
		<p>
		<label class="label">内容:</label>
		<textarea id="editor_id" name="content" style="width:700px;height:300px;">
		&lt;strong&gt;内容&lt;/strong&gt;
		</textarea>
		<p/>

		版块选择:<select name="board_id">
			<volist name="board_arr_" id="vo">
				<option value="<{$vo.bbs_board_id}>"><{$vo.bbs_board_name}></option>
			</volist>
			</select>
		<div class="we1">
			<input type="submit" name="submit" value="发表" class="bbs_post"/>	
		</div>
		</p>
	</form>

	<a>
		<a href="http://icecms.cn/index.php/Home/Article/read/id/1.html">第一次提问?请查看“提问的艺术”</a>
	</a>
</div>
	</div>
</block>
